.markdown :first-child {
  margin-top: 0;
}

.markdown :last-child {
  margin-bottom: 0;
	color: red;
	background: #f080;
}
.post-card .primary .content {
  -webkit-mask-image: linear-gradient(#f095e2 175px, transparent 250px);
  mask-image: linear-gradient(#f095e2 175px, transparent 250px);
}

.post-card .secondary .title {
  -webkit-mask-image: linear-gradient(#f095e2 70px, transparent 125px);
  mask-image: linear-gradient(#f095e2 70px, transparent 125px);
}

html {
  overflow-y: scroll;
	background: #7d2870; 
}



